{% extends 'gestion/base.html' %}
    {% block title %}Seguimiento de Órdenes{% endblock %}
    {% block content %}
    <h2>Seguimiento de Órdenes</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID Orden</th>
                <th>Cliente</th>
                <th>Empleado</th>
                <th>Fecha de Creación</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for orden in ordenes %}
            <tr>
                <td>{{ orden.id }}</td>
                <td>{{ orden.cliente.nombre }}</td>
                <td>{{ orden.empleado.username }}</td>
                <td>{{ orden.fecha_creacion }}</td>
                <td>{{ orden.estado }}</td>
                <td><a href="{% url 'actualizar_estado_orden' orden.id %}" class="btn btn-warning">Actualizar Estado</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}